.project-header {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;

  .header-brand {
    cursor: pointer;
    font-style: italic;
    &:hover {
      text-decoration: underline;
    }
  }
}
