.project {
  .home-link {
    position: absolute;
    top: 13px;
    left: 20px;
    z-index: 1;
  }
  .glyphicon {
    @include font-size(40px);
    @include transition(opacity 100ms ease);
    color: color(grey, medium);
    opacity: 0.1;
    @include breakpoint($sm) {
      &:hover {
        opacity: 1;
      }
    }
  }
}

.project-nav {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: translateY(-50%);
  &-previous {
    left: 3px;
    @include breakpoint($sm) {
      top: 50%;
      bottom: auto;
      left: 20px;
    }
  }
  &-next {
    right: 3px;
    @include breakpoint($sm) {
      top: 50%;
      right: 20px;
      bottom: auto;
    }
  }
}
